/*:root {
    --primary-color: #0056b3;
    --secondary-color: #e9ecef;
    --error-color: #dc3545;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0 10px;
   
}
*/
.form {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1), 0 6px 20px rgba(0,0,0,0.19);
    padding: 30px;
    background: #fff;

   
    border-radius: 8px;
}

.first-div, .second-div {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.input-group {
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    width: 100%;
}

.input-group input, .input-group select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-group label {
    margin-bottom: 5px;
}

.required {
    color: var(--error-color);
}

@media (max-width: 768px) {
    .first-div, .second-div {
        flex-direction: column;
    }
    .input-group {
        flex-basis: auto;
    }
}

input:focus, select:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.2rem rgba(0, 86, 179, 0.25);
}

input[type="submit"], button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover, button:hover {
    background-color: darken(var(--primary-color), 10%);
}


.default{
    color: grey;
}

.employee-head{
    --bs-link-color: #5D87FF;
}
.required{
    color: red;
}