.active_link {
    border-bottom: 5px solid #7283DB;
    border-end-end-radius: 10%;
    border-end-start-radius: 10%;
    font-weight: 700;
}

.red_text {
    color: red;
}

.bg-primary2 {
    background-color:   red;
}

/* Alert close button styling */
.alert {
    position: relative; /* Ensure we can position the close button absolutely within */
    padding-right: 50px; /* Provide enough padding to not overlap text with the close button */
}

.alert .close {
    position: absolute; /* Position absolutely within the alert */
    right: 0; /* At the extreme right */
    top: 0; /* Align to the top */
    padding: 0.75rem 1.25rem; /* Same as alert padding for vertical alignment */
    color: inherit; /* Inherits the alert's text color */
    text-shadow: none; /* Remove any text shadow */
    opacity: 1; /* Make sure it's fully visible */
    line-height: 1.5; /* Adjust to match the alert's line height */
}

.alert .close span {
    font-size: 1.5rem; /* Adjust the size as needed */
    line-height: 1; /* Ensure the icon is vertically centered */
}

.alert-success {
    color: #155724; /* Bootstrap success color, change as per your theme */
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-error{
    color: #573515; /* Bootstrap success color, change as per your theme */
    background-color: #d4edda;
    border-color: #c3e6cb;  
}
.alert-dismissible .close {
    outline: none;
    border: none;
    background: none; /* Remove default background */
}

.alert .close:hover {
    opacity: 1;
    cursor: pointer;
}