.nav2 {
  box-shadow: rgba(145,158,171,0.2) 0px 0px 2px 0px, rgba(145,158,171,0.12) 0px 12px 24px -4px;
}

.navbar-pill {
  border-radius: 0.5rem;
}

.nav-btn {
  border-radius: 6rem;
  padding: 0.5rem;
  width: 60px;
  border: none;
  color: #5A6A85;
  background-color: #DDEBFF;
  transition: ease-in;
  transition-duration: 100ms;
}

.nav-btn:hover {
  background-color: #4f73d9;
  color: white;
}

.active-navbtn {
  background-color: #5D87FF;
  color: white;
}

.btn-score {
  border: none;
  margin: 5px; /* Adding margin for spacing */
  padding: 6px 12px; /* Ensure consistent padding */
  font-size: 10px; /* Ensure consistent font size */
  flex-grow: 1; /* Allow buttons to grow and fill the container */
  text-align: center; /* Center-align the text */
}