.navbar-pill, .navitem-pill {
  border-radius: 6rem;
}

.nav-btn {
  padding: 0.5rem;
  width: 60px;
  border: none;
  color: #5A6A85;
  background-color: #DDEBFF;
  transition: ease-in;
  transition-duration: 100ms;
}

.nav-btn:hover {
  background-color: #4f73d9;
  color: white;
}

.active-navbtn {
  background-color: #5D87FF;
  color: white;
}